.container {
  box-sizing: border-box;
  background-color: darkslategrey;
  color:white;
  height: 700px;
  margin: 0px 10px 30px 10px;
  position: relative;
}

a.jump {
  text-decoration: underline;
  position: absolute;
  bottom: 15px;
}